.App {
  font-family: Arial, sans-serif;
  text-align: center;
}


body {background-image: url(../public/1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}